/* ------------------------------------
    Product page
 ------------------------------------*/


.cart
    display: flex
    flex-direction: column
    align-items: flex-start

    @include mq(large)
        flex-direction: row

    &--empty
        flex-direction: column
        justify-content: center
        align-items: center

        &__msg
            font-size: $size-large


.cart-left,
.cart__info
    padding: ($spacing * 2) 0

.cart__info
    width: 100%

    @include mq(large)
        width: 33%
        padding: $spacing * 2
        margin-left: auto
        border: 2px solid $color-white

    input, button
        min-width: 100%

    .details
        li
            padding: ($spacing / 2) 0

        span
            float: right


// Cart Items
.cart__items
    /*@include mq(medium)
        min-width: 70%*/

    .product
        display: flex
        flex-wrap: wrap
        align-items: center
        margin-bottom: $spacing * 6

        @include mq(medium)
            margin-right: $spacing * 2

        &__thumb
            margin: $spacing 0

            @include mq(medium)
                max-width: 10rem
                margin: 0 ($spacing * 3.5)

        &__details
            display: flex
            flex-direction: column

        &__variant
            color: $color-grey
            font-size: 1.2rem

        &__quantity
            display: flex
            flex-direction: row
            margin-top: $spacing

            .qty
                margin: 0 $spacing

            #qty
                width: 2.2rem
                text-align: center

            #qty, .btn-test
                border: none
                padding: 0
                margin: 0
                margin-right: 2rem

        &__title
            margin: 0
            font-size: $size-medium

        &__price
            font-size: $size-small
            color: $color-alto


    .icon
        &:hover
            background-color: $color-grey


// Processes securely message
.secure-payment
    font-size: 1.2rem
    font-weight: lighter
    color: $color-grey

    .icon
        width: 1.55rem
        height: 1.5rem
        position: relative
        top: 3px
