/* ------------------------------------
    Site header
 ------------------------------------*/

.site__header
    background: $color-cod-grey
    height: 5rem

    @include mq(medium)
        height: 6rem

    .wrap
        height: 100%
        position: relative

        display: flex
        align-items: center
        justify-content: flex-end

    .user--icons
        /* Vertically align text */
        display: flex
        justify-content: center
        flex-direction: row
        align-items: center

        .icon
            $icon-size: 2.2rem

            height: $icon-size
            width: $icon-size
            margin-left: 2.5rem

            &:hover
                background-color: $color-grey

        .nav-cart
            position: relative

        .items
            background: $color-white
            color: $color-cod-grey
            border-radius: 40%
            position: absolute
            font-size: 1.2rem
            text-align: center
            width: 2.4rem
            height: 2rem
            display: block
            top: -6px
            right: -15px

    .icons--social
        display: none
        border-right: 1px solid $color-grey

        @include mq(medium)
            display: flex

        .icon
            $icon-size: 1.8rem

            height: $icon-size
            width: $icon-size
            margin-top: .5rem
            margin-bottom: .5rem


.logo
    @extend %hidetext

    margin-right: auto
    width: 300px

    height: 2.65rem
    display: block

    background: linear-gradient(270deg, #383200, #ead849, #ffffff, #4e4600)
    background-size: 200% 400%

    animation: gradient 4s ease infinite

    mask-size: contain
    mask-position: center
    mask-repeat: no-repeat
    mask-image: url('../images/logo.svg')

    @at-root
        @keyframes gradient
            0%
                background-position: 0% 52%
            50%
                background-position: 100% 49%
            100%
                background-position: 0% 52%
