/* ------------------------------------
    Buttons
 ------------------------------------*/

.btn,
button,
input[type='submit']
    @extend %input

    text-align: center

    transition: background .3s


    &:hover,
    &:focus
        background: $color-white
        color: $color-cod-grey
