/* ------------------------------------
    Form elements
 ------------------------------------*/

$height: 4.2rem
$font-size: $size-medium

// Vertically center words
$padding: ($height - $font-size) / 2

%input
    /* Remove default apperance */
    -webkit-appearance: none
    -moz-appearance: none
    appearance: none

    padding: $padding 0

    color: $color-white
    text-transform: uppercase
    letter-spacing: 4px
    font-size: $font-size

    margin: ($spacing / 1.5) 0

    outline: none
    cursor: auto

    display: inline-block
    width: 100%

    background: none
    border: 2px solid $color-white
    border-radius: 0

    @include mq(large)
        width: auto
        padding: $padding ($height * 2)

    &[disabled]
        border-color: $color-grey


textarea,
input[type='tel'],
input[type='url'],
input[type='text'],
input[type='email'],
input[type='password']
    @extend %input
    text-align: left
    padding: $padding


textarea
    min-height: $height * 3


form
    display: flex
    align-items: start
    flex-direction: column

    label
        display: block


.select
    position: relative
    color: $color-white
    width: 100%

    @include mq(large)
        width: auto
        display: inline-block

    &:after
        position: absolute
        top: 50%
        right: $spacing
        display: inline-block
        content: ""
        width: 0
        height: 0
        margin-top: -.15rem
        pointer-events: none
        border-top: .5rem solid
        border-right: .5rem solid transparent
        border-bottom: .5rem solid transparent
        border-left: .5rem solid transparent

    select
        @extend %input
        width: 100%
        padding-left: $spacing
        padding-right: $spacing * 2




form
    label
        display: block


.forRobots
    display: none
