/* ------------------------------------
    Form elements
 ------------------------------------*/

$height: 4.2rem
$font-size: $size-medium

// Vertically center words
$padding: ($height - $font-size) / 2

%input

    /* Remove default apperance */
    -webkit-appearance: none
    -moz-appearance: none
    appearance: none

    padding: $padding 0

    color: $color-white
    text-transform: uppercase
    letter-spacing: 4px
    font-size: $font-size

    margin: ($spacing / 1.5) 0

    outline: none
    cursor: auto

    display: inline-block
    width: 100%

    background: none
    border: 2px solid $color-white
    border-radius: 0

    @include mq(large)
        width: auto
        padding: $padding ($height * 2)


textarea,
input[type='tel'],
input[type='url'],
input[type='text'],
input[type='email']
    @extend %input

    padding: $padding $padding


textarea
    min-height: $height * 3


form
    display: flex
    align-items: center
    flex-direction: column

    input,
    textarea
        min-width: 50%
        display: block
